.close {
    margin: 16px;

    cursor: pointer;
}

.title {
    font-size: 20px;
    line-height: 28px;
}

.icon {
    width: 28px;

    cursor: pointer;
}

.profile {
    width: 100%;
    height: 160px;
        
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}

.profile-icon {
    width: 100px;
    height: 100px;
    /* background-color: #D9D9D9; */
    border-radius: 50%;
}

.profile p {
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;

    margin-left: -30px;
}

.profile-info {
    width: 100%;
    height: 150px;

    margin-top: 32px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile-info div {
    width: 100%;
    height: 50px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.profile-info div .label {
    font-size: 16px;
    color: #9DA3AF;
    margin-left: 24px;

    cursor: pointer;
}

.profile-info div .data {
    font-size: 14px;
    color: #676F7E;
    margin-right: 24px;
}

.management {
    width: 100%;
    height: 100px;
    
    margin-top: 32px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.management div {
    width: 100%;
    height: 50px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    cursor: pointer;
}

.management div .label {
    font-size: 16px;
    color: #9DA3AF;
    margin-left: 24px;
}

.management div .icon {
    margin-right: 24px;
}

.user-menu {
    width: 100%;
    height: 150px;
    
    margin-top: 32px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.user-menu div {
    width: 100%;
    height: 50px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    cursor: pointer;
}

.user-menu div .label {
    font-size: 16px;
    color: #9DA3AF;
    margin-left: 24px;
}

.user-menu .logout .label {
    color: #FA3434;
}

.footer-profile-info {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    margin-bottom: 16px;

    font-weight: 700;
}

.footer-menu {
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.footer-menu .policy {
    width: 55%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
}

.footer-menu .policy p {
    margin-right: 16px;
}

.more-info {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 32px;
}

.more-info .data {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}

.more-info .data .title {
    font-size: 16px;
    color: #9DA3AF;
    line-height: 24px;
    font-weight: 500;
    text-align: left; /* 왼쪽 정렬 */
    flex: 1; /* 왼쪽으로 고정 */
    margin-left: 16px;
}

.more-info .data p {
    font-size: 14px;
    color: #676F7E;
    line-height: 20px;
    font-weight: 700;
    text-align: right; /* 오른쪽 정렬 */
    flex: 1; /* 오른쪽으로 고정 */
    margin-right: 24px;
}

.more-info .update {
    width: 100%;
    height: 55px;
    cursor: pointer;

    font-size: 16px;
    color: #03C6CE;
    line-height: 24px;
    margin-left: 16px;
    margin-top: 32px;
}

.list {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

    overflow-y: auto;

    &::-webkit-scrollbar {
        display: none;
    }
}

.notify-item {
    width: 100%;
    height: 100px;
    padding: 24px 16px;
    gap: 12px;
    border-bottom: 1px solid #D5D7DD;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.notify-item.active {
    background-color: #D2FDFE;
}

.notify-item .title {
    width: 100%;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.notify-item .title p {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: #000000;
}

.notify-item .title .time {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    color: #9DA3AF;
}

.notify-item .content {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    color: #9DA3AF;
}

.faq-item {
    width: 100%;
    padding: 24px 16px;
    gap: 12px;
    border-bottom: 1px solid #D5D7DD;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.faq-item .title {
    width: 100%;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    cursor: pointer;
}

.faq-item .title p {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: #000000;
}

.faq-item .title .icon {
    width: 10px;
    height: 6px;
}

.faq-item .faq-content {
    font-size: 14px;
    font-weight: 300;
    padding: 10px;
}

.update-input {
    width: 240px;
    height: 44px;

    padding: 10px;

    background: #FFFFFF;
    border: 1px solid #D5D7DD;
    border-radius: 8px;
    margin-right: 10px;
}

.update-email {
    display: flex;
    flex-direction: column;
}

.email-verify-container {
    display: flex;
    flex-direction: row;
}

.email-verify-container.verify {
    margin-top: 10px;
}

.email-input {
    width: 186px;
}

.email-verify-button {
    width: 44px;
    height: 44px;

    font-size: 12px;

    background: #9DA3AF;
    border-radius: 8px;

    color: #FFFFFF;
    border: none;
    margin-right: 10px;
}

.email-verify-button.number {
    line-height: 44px;
    text-align: center;
}

.email-verify-button.active {
    background: #03C6CE;
}

.input-label {
    display: flex;
    flex-direction: column;
}

.validation {
    color: red;
    font-size: 12px;
}