/* 색상 */
:root {
    --aqua-9: #013537;
    --aqua-8: #026669;
    --aqua-7: #03969C;
    --aqua-6: #03C6CE;
    --aqua-5: #08F2FB;
    --aqua-4: #3BF5FC;
    --aqua-3: #6DF7FD;
    --aqua-2: #A0FAFD;
    --aqua-1: #D2FDFE;
    
    --gray-9: #22252A;
    --gray-8: #393E46;
    --gray-7: #505662;
    --gray-6: #676F7E;
    --gray-5: #818898; 
    --gray-4: #9DA3AF; 
    --gray-3: #B9BDC6; 
    --gray-2: #D5D7DD; 
    --gray-1: #F1F2F4; 

    --black: #000;
    --white: #FFF;

    /* Core Color */

    /* Primary */
    --primary: var(--aqua-6);
    --primary-enabled: var(--aqua-6);
    --primary-disabled: var(--gray-2);
    --primary-hover: var(--aqua-7);

    /* BackGround */
    --bg-gray-1: var(--gray-1);
    --bg-gray-2: var(--gray-3);
    --bg-gray-3: var(--gray-5);
    --bg-white: var(--white);

    /* Border */
    --border-gray-1: var(--gray-2);
    --border-gray-2: var(--gray-5);
    --border-gray-3: var(--gray-9);
    --border-primary: var(--primary);
    --border-black: var(--black);
    --border-white: var(--white);

    /* Text */
    --text-black: var(--gray-9);
    --text-gray-1: var(--gray-6);
    --text-gray-2: var(--gray-4);
    --text-gray-3: var(--gray-2);
    --text-white: var(--gray-1);

    /* System */
    --placeholder: var(--gray-3);
    --check: #00F728;
    --error: #FA3434;
}

:root {
    --value-1: 0.25rem;
    --value-2: 0.5rem;
    --value-3: 1rem;
    --value-4: 1.5rem;
    --value-5: 2rem;
    --value-6: 2.5rem;
    --value-7: 3rem;

    /* Gap */

    --gap-1: var(--value-1);
    --gap-2: var(--value-2);
    --gap-3: var(--value-3);
    --gap-4: var(--value-4);
    --gap-5: var(--value-5);

    /* Radius */

    --radius-1: var(--value-1);
    --radius-2: var(--value-2);
    --radius-3: var(--value-3);
    --radius-4: var(--value-4);
    --radius-5: var(--value-5);
}

.button-lg {
    width: 100%;
    display: inline-flex;
    padding: 0.875rem;

    justify-content: center;
    align-items: center;

    gap: 0.625rem;

    background-color: var(--primary);
    color: var(--white);

    border: none;
    border-radius: 0.5rem;
}

.btn-outline {
    background-color: var(--bg-white);
    color: var(--primary);
}

.search-icon {
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    width: 1.5rem;
    height: 1.5rem;
    pointer-events: auto;
    z-index: 1;
}

.close-icon {
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    width: 1.5rem;
    height: 1.5rem;
    pointer-events: auto;
    z-index: 1;
}

.header {
    display: flex;
    flex-direction: column;
}

.header .top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header h4 {
    font-size: 16px;
}

.header span {
    font-size: 12px;
    color: #9DA3AF;
}

.table h3 {
    font-size: 16px;
}

.search-container {
    position: relative;
    width: 100%;
}

.search-container .search-input {
    box-sizing: border-box;
    width: 100%;
    padding: 1rem;
    padding-right: 2.5rem;
    background: #FFFFFF;
    border: 1px solid #D5D7DD;
    border-radius: 4px;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 500;
}

.search-container .search-details-icon {
    background: url(../../../assets/icon/search.svg);
    width: 1.5rem;
    height: 1.5rem;
}

.image-container {
    width: 100%;
}

.image-container .preview-image {
    width: 360px;
    height: 230px;
}

.interested {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.map {
    width: 100%;
    height: 100vh;
    z-index: 0;
}

.map-system {
    display: flex;
    flex-direction: column;
    
    position: absolute;

    top: 200px;
    right: 24px;
}

.map-level {
    width: 48px;
    height: 48px;
    border: none;
    border-radius: 8px;
    padding: 16px;
    gap: 10px;
    box-shadow: 0px 2px 6px 0px #00000040;
    background-color: #FFFFFF;
    color: #676F7E;
    font-size: 20px;
    margin-bottom: 16px;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
}

/* Map Fillter Select Box 디자인 */

.map-style-select-box {
    background: #FFFFFF;
    border-radius: 8px;
    width: 3rem;
    height: 3rem;
    margin-bottom: 16px;
    position: relative;
}

.map-style-select-label {
    width: 3rem;
    height: 3rem;

    /* padding: 16px; */
    cursor: pointer;
    background: #FFFFFF;
    border: none;
    border-radius: 8px;

    box-shadow: 0px 2px 6px 0px #00000040;
}

/* 지도 선택 시 active */
/* .map-style-select-label.active {
    background-color: #03C6CE;
}

.map-style-select-label.active p {
    color: #FFFFFF;
} */

.map-style-select-label p {
    font-size: 12px;
    line-height: 20px;
    color: #676F7E;

    font-weight: 700;
}

.style-list {
    margin: 0;
    padding: 16px;
    list-style: none;
    position: absolute;
    background-color: #FFFFFF;
    border-radius: 8px;
    width: 250px;
    height: 300px;
    top: 0; /* Align the top of the dropdown with the button */
    right: 53px; /* Position it to the right of the button */
    z-index: 9999; /* Increase this value to ensure it is above other elements */
    box-shadow: 0px 2px 6px 0px #00000040;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 16px; /* Add gap between items */
}

.style-list .style-info {
    width: 100px;
    height: 130px;
    gap: 8px;    
    cursor: pointer;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.style-list .style-info img {
    width: 100px;
    height: 100px;
    border-radius: 8px;
    border: 1px solid #D5D7DD;
    cursor: pointer;
}

.style-list .style-info p {
    font-size: 14px;
    font-weight: 500;
    color: #111111;
    cursor: pointer;
}

.style-list .style-info.active p {
    color: #03C6CE;
}

.style-list .style-info.active img {
    border: 2px solid #03C6CE;
}

.hide-button {
    width: 3rem;
    height: 3rem;

    /* padding: 16px; */
    cursor: pointer;
    background: #FFFFFF;
    border: none;
    border-radius: 8px;

    box-shadow: 0px 2px 6px 0px #00000040;

    font-size: 12px;
    line-height: 20px;
    color: #676F7E;
    margin-bottom: 16px;
    font-weight: 700;
}

.hide-button.active {
    background-color: #03C6CE;
    color: #FFFFFF;
}