/* 색상 */
:root {
    --aqua-9: #013537;
    --aqua-8: #026669;
    --aqua-7: #03969C;
    --aqua-6: #03C6CE;
    --aqua-5: #08F2FB;
    --aqua-4: #3BF5FC;
    --aqua-3: #6DF7FD;
    --aqua-2: #A0FAFD;
    --aqua-1: #D2FDFE;
    
    --gray-9: #22252A;
    --gray-8: #393E46;
    --gray-7: #505662;
    --gray-6: #676F7E;
    --gray-5: #818898; 
    --gray-4: #9DA3AF; 
    --gray-3: #B9BDC6; 
    --gray-2: #D5D7DD; 
    --gray-1: #F1F2F4; 

    --black: #000;
    --white: #FFF;

    /* Core Color */

    /* Primary */
    --primary: var(--aqua-6);
    --primary-enabled: var(--aqua-6);
    --primary-disabled: var(--gray-2);
    --primary-hover: var(--aqua-7);

    /* BackGround */
    --bg-gray-1: var(--gray-1);
    --bg-gray-2: var(--gray-3);
    --bg-gray-3: var(--gray-5);
    --bg-white: var(--white);

    /* Border */
    --border-gray-1: var(--gray-2);
    --border-gray-2: var(--gray-5);
    --border-gray-3: var(--gray-9);
    --border-primary: var(--primary);
    --border-black: var(--black);
    --border-white: var(--white);

    /* Text */
    --text-black: var(--gray-9);
    --text-gray-1: var(--gray-6);
    --text-gray-2: var(--gray-4);
    --text-gray-3: var(--gray-2);
    --text-white: var(--gray-1);

    /* System */
    --placeholder: var(--gray-3);
    --check: #00F728;
    --error: #FA3434;
}

:root {
    --value-1: 0.25rem;
    --value-2: 0.5rem;
    --value-3: 1rem;
    --value-4: 1.5rem;
    --value-5: 2rem;
    --value-6: 2.5rem;
    --value-7: 3rem;

    /* Gap */

    --gap-1: var(--value-1);
    --gap-2: var(--value-2);
    --gap-3: var(--value-3);
    --gap-4: var(--value-4);
    --gap-5: var(--value-5);

    /* Radius */

    --radius-1: var(--value-1);
    --radius-2: var(--value-2);
    --radius-3: var(--value-3);
    --radius-4: var(--value-4);
    --radius-5: var(--value-5);
}

.button-lg {
    display: inline-flex;
    padding: 0.875rem 5rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
}

.search-icon {
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    width: 1.5rem;
    height: 1.5rem;
    pointer-events: auto;
    z-index: 1;
}

.close-icon {
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    width: 1.5rem;
    height: 1.5rem;
    pointer-events: auto;
    z-index: 1;
}

.header {
    display: flex;
    flex-direction: column;
}

.header .top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header h4 {
    font-size: 16px;
}

.header span {
    font-size: 12px;
    color: #9DA3AF;
}

.table h3 {
    font-size: 16px;
}

.search-container {
    position: relative;
    width: 100%;
}

.search-container .search-input {
    box-sizing: border-box;
    width: 100%;
    padding: 1rem;
    padding-right: 2.5rem;
    background: #FFFFFF;
    border: 1px solid #D5D7DD;
    border-radius: 4px;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 500;
}

.search-container .search-details-icon {
    background: url(../../../assets/icon/search.svg);
    width: 1.5rem;
    height: 1.5rem;
}

.image-container {
    width: 100%;
}

.image-container .preview-image {
    width: 360px;
    height: 230px;
}

.interested {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.map {
    width: 100%;
    height: 100vh;
    z-index: -1;
}