/* Select Box 디자인 */

.select-box {
    position: relative; /* Ensure this is set to create a stacking context */
    display: inline-block;
    width: 100%;
}

.select-label {
    background-color: var(--bg-white);
    border: 1px solid #ccc;
    padding: 0.75rem;
    cursor: pointer;
    width: 100%;
    text-align: left;

    border-radius: 0.25rem;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.select-label p {
    font-size: 12px;

    font-size: 0.75rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.125rem;

    color: #9DA3AF;

    white-space: nowrap;
}

.option-list {
    margin: 0;
    padding: 0;
    list-style: none;
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    width: 100%;
    z-index: 9999; /* Increase this value to ensure it is above other elements */
    max-height: 200px;
    overflow-y: auto;
}

.option-list .select-option {
    padding: 0.75rem;
    cursor: pointer;
    z-index: 3;
}

.option-list .select-option:hover {
    background-color: #f1f1f1;
}

/* Fillter Select Box 디자인 */

.fillter-select-box {
    position: relative; /* Ensure this is set to create a stacking context */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 16px;
    gap: 10px;
    background: #03C6CE;
    border-radius: 16px;
}

.fillter-select-label {
    cursor: pointer;
    text-align: left;
    background: none;
    border: none;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.fillter-select-label p {
    font-size: 14px;
    color: #fff;
}

.fillter-option-list {
    margin: 0;
    padding: 0;
    list-style: none;
    position: absolute;
    top: 40px;
    background-color: #fff;
    border: 1px solid #ccc;
    width: 100%;
    z-index: 9999; /* Increase this value to ensure it is above other elements */
    max-height: 200px;
    overflow-y: auto;
    border-radius: 0.5rem;
}

.fillter-option-list .fillter-select-option {
    padding: 0.75rem;
    cursor: pointer;

    font-size: 14px;
}

.fillter-option-list .fillter-select-option:hover {
    background-color: #f1f1f1;
    color: #03C6CE;
}
